In [1]:
import numpy as np
import pandas as pd

In [2]:
import kl
kl.display_all_output()

In [10]:
csv = pd.read_csv('./data/train.csv')
csv.shape

(8693, 14)

In [11]:
csv.head(3)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False

# 基本统计数据

In [17]:
# 存在大量空值
# 题上声称“从事故中恢复的残缺数据”
pd.isna(csv).sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [21]:
# 顾客ID没有重复值
csv['PassengerId'].duplicated(keep=False).sum()
# 顾客姓名有重复值
csv['Name'].duplicated(keep=False).sum()

0

240

In [15]:
# 母星与目的地
csv['HomePlanet'].value_counts()
csv['Destination'].value_counts()

HomePlanet
Earth     4602
Europa    2131
Mars      1759
Name: count, dtype: int64

Destination
TRAPPIST-1e      5915
55 Cancri e      1800
PSO J318.5-22     796
Name: count, dtype: int64

# 组团情况

In [28]:
groupId_list = []
idInGroup_list = []
# 乘客组团情况
for passengerId in csv['PassengerId']:
    groupId, idInGroup = passengerId.split('_')
    groupId_list.append(groupId)
    idInGroup_list.append(idInGroup)

In [29]:
group_df = pd.DataFrame({
    'groupId': groupId_list,
    'idInGroup': idInGroup_list,
})
group_df.shape

(8693, 2)

In [34]:
# 一共有6217个组团
# 一个组团最多8人
group_df['groupId'].value_counts().sort_values(ascending=False)

groupId
4498    8
9081    8
8168    8
5133    8
4005    8
       ..
7047    1
7049    1
7235    1
7236    1
4620    1
Name: count, Length: 6217, dtype: int64

# 船舱情况

In [59]:
deck_list = []
num_list = []
side_list = []
# 乘客船舱
for cabin in csv['Cabin']:
    if pd.isna(cabin):
        # 跳过空值
        continue
    deck, num, side = cabin.split('/')
    deck_list.append(deck)
    num_list.append(num)
    side_list.append(side)

In [60]:
cabin_df = pd.DataFrame({
    # 船舱
    'deck': deck_list,
    # 房间号
    'num': num_list,
    # 左舷/右舷
    'side': side_list,
})
cabin_df.shape

(8494, 3)

In [63]:
cabin_df['deck'].value_counts()
cabin_df['side'].value_counts()

deck
F    2794
G    2559
E     876
B     779
C     747
D     478
A     256
T       5
Name: count, dtype: int64

side
S    4288
P    4206
Name: count, dtype: int64

In [65]:
# 房间号
cabin_df['num'].value_counts()

num
82      28
86      22
19      22
56      21
176     21
        ..
1644     1
1515     1
1639     1
1277     1
1894     1
Name: count, Length: 1817, dtype: int64